.FooterContainer img{
    width: 200px;
    margin: 30px;
}

.FooterContainer{
    margin-top: 50px;
    background-color: rgb(13, 22, 61);
    display: flex;
}

.footerwidget{
    display: flex;
}

.wigdetfootercontainer{
    display: flex;
    flex-direction: column;
}

.wigdetfootercontainer a{
    margin: 35px 0px;
    color: white;
    text-decoration: none;
}

.footerwidget img{
    height: 30px;
    width: 30px;
    filter: invert(100);
}