main{
    text-align: center;
    margin-top: 150px;
}

.InformationContainer{
    margin-top: 60px;
    margin-left: 50px;
}

.SeccionPrincipal{
    margin: 50px;
    margin-bottom: 100px;
    display: flex;
}

h1{
    font-size: 60px;
}