.containerWidget{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.widget{
    margin: 0px 75px;
    height: 600px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

.widget img{
    width: 300px;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.H2Widget{
    padding-top: 30px;
    text-align: center;
    font-size: 40px;
}

.SectionWidget{
    background-color:rgb(176, 194, 242);
    padding-bottom: 100px;
}

